EBD_DOCX_FILE=/home/me/github/edi_energy_mirror/edi_energy_de/FV2410/Entscheidungsbaum-DiagrammeundCodelisten-informatorischeLesefassung3.5_20250403_20240403.docx
OUTPUT_DIR=/home/me/github/machine-readable_entscheidungsbaumdiagramme/FV2410
